<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Data Driven FrameWork</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="83df68">  <td>20/07/14 18:10:32</td>   <td>0</td> <td title="&gt;&gt;TestBase.setUp()[pri:0, instance:com.w2a.testcases.OpenAccountTest@2b95e48b]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@617928649</td>   <td></td> </tr>
<tr bgcolor="8ab28e">  <td>20/07/14 18:10:41</td>   <td>8734</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BankManagerLoginTest.bankManagerLoginTest()[pri:0, instance:com.w2a.testcases.BankManagerLoginTest@662f5666]">bankManagerLoginTest</td> 
  <td>main@617928649</td>   <td></td> </tr>
<tr bgcolor="ef6fe3">  <td>20/07/14 18:10:42</td>   <td>9714</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddCustomerTest.addCustomerTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.w2a.testcases.AddCustomerTest@556d0826]">addCustomerTest</td> 
  <td>main@617928649</td>   <td></td> </tr>
<tr bgcolor="ef6fe3">  <td>20/07/14 18:10:43</td>   <td>10762</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddCustomerTest.addCustomerTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.w2a.testcases.AddCustomerTest@556d0826]">addCustomerTest</td> 
  <td>main@617928649</td>   <td></td> </tr>
<tr bgcolor="83df68">  <td>20/07/14 18:10:43</td>   <td>11040</td> <td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:com.w2a.testcases.OpenAccountTest@2b95e48b]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@617928649</td>   <td></td> </tr>
</table>
