<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ac9068">  <td>20/07/14 18:12:38</td>   <td>0</td> <td title="&gt;&gt;TestBase.setUp()[pri:0, instance:com.w2a.testcases.BankManagerLoginTest@4795ded0]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@94830685</td>   <td></td> </tr>
<tr bgcolor="cf94f8">  <td>20/07/14 18:12:47</td>   <td>9426</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BankManagerLoginTest.bankManagerLoginTest()[pri:0, instance:com.w2a.testcases.BankManagerLoginTest@4795ded0]">bankManagerLoginTest</td> 
  <td>main@94830685</td>   <td></td> </tr>
<tr bgcolor="ac9068">  <td>20/07/14 18:12:47</td>   <td>9637</td> <td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:com.w2a.testcases.BankManagerLoginTest@4795ded0]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@94830685</td>   <td></td> </tr>
</table>
