<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Data Driven Basics</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bb6bea">  <td>20/06/27 18:44:58</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BankManagerLoginTest.loginAsBankManager()[pri:0, instance:com.w2a.testcases.BankManagerLoginTest@78452606]">loginAsBankManager</td> 
  <td>main@2112233878</td>   <td></td> </tr>
<tr bgcolor="e2d983">  <td>20/06/27 18:44:49</td>   <td>-8333</td> <td title="&gt;&gt;TestBase.setUp()[pri:0, instance:com.w2a.testcases.AddCustomerTest@68878f6d]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2112233878</td>   <td></td> </tr>
<tr bgcolor="e2d983">  <td>20/06/27 18:44:58</td>   <td>565</td> <td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:com.w2a.testcases.AddCustomerTest@68878f6d]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2112233878</td>   <td></td> </tr>
</table>
